.selected-player-container {
    display: grid;
    grid-template-columns: 4fr 8fr;
    margin: 15px 0;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 5px;
}
.thumbnail {
    margin-right: 8px;
}
.thumbnail img {
    border-radius: 5px;
}
.selected-player-details h4 {
    height: initial !important;
}
